<!-- about section start -->
<section class="section pt-4 bg-white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <div class="small-title">About us</div>
                    <h4>What is ICO Token?</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5">

                <div class="text-muted">
                    <h4>Best ICO for your cryptocurrency business</h4>
                    <p>If several languages coalesce, the grammar of the resulting that of the individual new common language will be more simple and regular than the existing.</p>
                    <p class="mb-4">It would be necessary to have uniform pronunciation.</p>

                    <div class="button-items">
                        <a href="#" class="btn btn-success">Read More</a>
                        <a href="#" class="btn btn-outline-primary">How It work</a>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-lg-4 col-6">
                            <div class="mt-4">
                                <h4>$ 6.2 M</h4>
                                <p>Invest amount</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-6">
                            <div class="mt-4">
                                <h4>16245</h4>
                                <p>Users</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ms-auto">
                <div class="mt-4 mt-lg-0">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card border">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <i class="mdi mdi-bitcoin h2 text-success"></i>
                                    </div>
                                    <h5>Lending</h5>
                                    <p class="text-muted mb-0">At vero eos et accusamus et iusto blanditiis</p>

                                </div>
                                <div class="card-footer bg-transparent border-top text-center">
                                    <a href="#" class="text-primary">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card border mt-lg-5">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <i class="mdi mdi-wallet-outline h2 text-success"></i>
                                    </div>
                                    <h5>Wallet</h5>
                                    <p class="text-muted mb-0">Quis autem vel eum iure reprehenderit</p>

                                </div>
                                <div class="card-footer bg-transparent border-top text-center">
                                    <a href="#" class="text-primary">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <hr class="my-5">

        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme clients-carousel" id="clients-carousel" dir="ltr">
                    <div class="item">
                        <div class="client-images">
                            <img src="public/assets/images/clients/1.png" alt="client-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-images">
                            <img src="public/assets/images/clients/2.png" alt="client-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-images">
                            <img src="public/assets/images/clients/3.png" alt="client-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-images">
                            <img src="public/assets/images/clients/4.png" alt="client-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-images">
                            <img src="public/assets/images/clients/5.png" alt="client-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-images">
                            <img src="public/assets/images/clients/6.png" alt="client-img" class="mx-auto img-fluid d-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- about section end -->