<!-- Features start -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <div class="small-title">Features</div>
                    <h4>Key features of the product</h4>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center pt-4">
            <div class="col-md-6 col-sm-8">
                <div>
                    <img src="public/assets/images/crypto/features-img/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-5 ms-auto">
                <div class="mt-4 mt-md-auto">
                    <div class="d-flex align-items-center mb-2">
                        <div class="features-number font-weight-semibold display-4 me-3">01</div>
                        <h4 class="mb-0">Lending</h4>
                    </div>
                    <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than of the individual will be more simple and regular than the existing.</p>
                    <div class="text-muted mt-4">
                        <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Donec pede justo vel aliquet</p>
                        <p><i class="mdi mdi-circle-medium text-success me-1"></i>Aenean et nisl sagittis</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row align-items-center mt-5 pt-md-5">
            <div class="col-md-5">
                <div class="mt-4 mt-md-0">
                    <div class="d-flex align-items-center mb-2">
                        <div class="features-number font-weight-semibold display-4 me-3">02</div>
                        <h4 class="mb-0">Wallet</h4>
                    </div>
                    <p class="text-muted">It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend.</p>
                    <div class="text-muted mt-4">
                        <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Donec pede justo vel aliquet</p>
                        <p><i class="mdi mdi-circle-medium text-success me-1"></i>Aenean et nisl sagittis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  col-sm-8 ms-md-auto">
                <div class="mt-4 me-md-0">
                    <img src="public/assets/images/crypto/features-img/img-2.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- Features end -->