<!-- currency price section start -->
<section class="section bg-white p-0">
    <div class="container">
        <div class="currency-price">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-warning bg-soft text-warning font-size-18">
                                        <i class="mdi mdi-bitcoin"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted">Bitcoin</p>
                                    <h5>$ 9134.39</h5>
                                    <p class="text-muted text-truncate mb-0">+ 0.0012.23 ( 0.2 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
                                        <i class="mdi mdi-ethereum"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted">Ethereum</p>
                                    <h5>$ 245.44</h5>
                                    <p class="text-muted text-truncate mb-0">- 004.12 ( 0.1 % ) <i class="mdi mdi-arrow-down ms-1 text-danger"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title rounded-circle bg-info bg-soft text-info font-size-18">
                                        <i class="mdi mdi-litecoin"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted">Litecoin</p>
                                    <h5>$ 63.61</h5>
                                    <p class="text-muted text-truncate mb-0">+ 0.0001.12 ( 0.1 % ) <i class="mdi mdi-arrow-up ms-1 text-success"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end container -->
</section>
<!-- currency price section end -->